@import url(/default.css);
@import url(/Footer.css);
@import url(/Header.css);
@import url(/Hover.css);
@import url(/Media.css);


.container{
    display: flex;
    justify-content: center;
}


.checkoutsuccess{
    display: flex;
    flex-direction: column;
    font-size: 37px;
    justify-content: center;
    align-items: center;
    color: var(--white);
}



.download{
    width: 245px;
    height: 55;
    background-color: var(--blue-faded);
    border: 1px solid var(--white);
    border-radius: 10px;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.headtext{
    border-bottom: 3px solid var(--yellow);
    padding: 2% 20%;
    font-size: 45px;
}

p{
    text-align: center;
}
.iconcheck{
    padding: 2%;
    margin: 5% 0;
}


@media screen and (max-width:1324px){
    .checkoutsuccess{
        font-size: 35px;
    }
    .headtext{
        font-size: 40px;
    }
}

@media screen and (max-width:872px){
    .checkoutsuccess{
        font-size: 20px;
    }
    .iconcheck{
        margin: 10% 0;
    }
    .headtext{
        font-size: 25px;
        padding: 2% 15%;
    }
    P{
        font-size: 20;
    }
    .download{
        width: 200px;
        height: 50;
        font-size: 17px;
    }
}